doctype html
html
 head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="style.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto:100,400,500", rel='stylesheet', type='text/css')

 body
   header
     img(src="logo.svg")
     h1 bioscoop gemak
   
   a(href="https://drive.google.com/a/avans.nl/uc?export=download&confirm=GAGW&id=0B4oL1mh63TL7TElKdU4zM3JYOUU") download apk
   
   a.last(href="https://xd.adobe.com/view/2c39ab77-c805-49ac-b3d4-4405bafb9356/") Bekijk mockups
